<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword</title>
</head>
<body>
    <form action="/ForgetPassword" method="post">
        Email:<input type="text" name="Email" required><br><br>
        <!-- otp:<input type="text" name="otp" required><br><br> -->
        <input type="submit">
    </form>
    
</body>
</html>