<html>
    <head>
        <title>product</title>
    </head>
    <body>
        <form action="/product/create" method="post">
            <input type="text" name="userName" placeholder="Name of the products" required><br><br>
            <input type="text" name="Price" placeholder="Price of the product you want to set" required><br><br>
            <input type="text" name="Description" placeholder="information of product" required><br><br>
            <input type="submit">
        </form>
    </body>
</html> 