<html>
    <head>
        <title> <%= name%></title>
    </head>
    <body>
        <table>
            <tr><td>name</td>
            <td><%=name %></td>
            </tr>
            <tr><td>contact</td>
            <td><%= contact %></td>
            </tr>
            <tr><td>email</td>
            <td><%= email %></td>
            </tr>
        </table>
    </body>
</html>