<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../component/head',{data:{title:'Category Add'}}); %>
</head>
<body>
    <%- include('../component/menu') %>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border border-dark">
                <div class="card-body">
                    <h2 class="card-title text-center">Add Category</h2>
                    <form action="/category/createUI" method="post">
                        <div class="mb-3">
                            <label for="Category-name" class="form-label">Category Name</label>
                            <input type="text" name="CategoryName" class="form-control" placeholder="Enter the Category Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="Category-image" class="form-label">Category image</label>
                            <input type="file" name="photo"  class="form-control" placeholder="Upload Category Image">
                        </div>

                        <button type="submit" class="btn btn-primary ">Add Category</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../component/footer') %>
</body>
</html>




















 <!-- <form action="/category/createUI" method="post">
        <input type="text" name="CategoryName" placeholder="Name of the products" required><br><br>

        <label for="exampleInputImage1" class="form-label">Upload Image:</label> -->
        <!-- <input type="file" name="photo" accept="image/*" class="forom-control"><br><br> -->
       
        <!-- <input type="submit" value="Submit">
    </form> -->