<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../component/head',{data:{title:'Product List'}}) %>
</head>
<body>
    <%- include("../component/menu") %>


    <div class="container">
        <div class="row pt-5">
            
        </div>
    </div>
    <%- include('../component/footer') %>
</body>
</html>

